@page
@model Makeup.Web.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}

@if (Model.Order != null)
{
    <h1 class="my-4">@ViewData["Title"]</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model.Order.OrderDetails!)
            {
                <tr>
                    <td>@detail.Product.Name</td>
                    <td>@detail.Quantity</td>
                    <td>@($"{(detail.Quantity * detail.UnitPrice):0.00} $")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-right">
        <h4>
            Total: @($"{Model.Order.OrderDetails.Sum(d => d.Quantity * d.UnitPrice):0.00} $")
        </h4>
    </div>
    <div class="text-right">
        <a class="btn btn-primary" href="/Payment">Continue to Payment</a>
    </div>
}
else
{
    <div class="alert alert-warning">No order found</div>
}